<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ValKilmer.com</title>
    <link rel="stylesheet" href="valKilm.css">
  </head>
  <body>
    <h1>Valkilmer.com</h1>
    <div class = "filmContainer">
      {{ #films }}
      <div class = 'robotProfile'>
        <img src = {{photo}} alt = "Val Kilmer">
        <h2>{{ title }} {{ year }}</h2>
      </div>
      {{ /films }}
    </div>
    </ul>
  </body>
</html>
